In [ ]:
import numpy as np
import pandas as pd

In [1]:
df2= pd.read_csv('cleandempsm_data.csv')
df2

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,50.0,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,73.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46375,6915,Sales & Marketing,region_14,Bachelor's,m,other,2,31,1.0,2,0,49.0,0
46376,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,78.0,0
46377,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,56.0,0
46378,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,0,79.0,0
46379,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,49.0,0

In [2]:
df3=df2[(df2['is_promoted'] > 0)]
df3

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
10,49017,Sales & Marketing,region_7,Bachelor's,f,sourcing,1,35,5.0,3,0,50.0,1
33,58304,Sales & Marketing,region_28,Bachelor's,m,sourcing,1,33,5.0,6,0,51.0,1
51,17673,Sales & Marketing,region_4,Master's & above,m,other,1,50,4.0,17,0,47.0,1
57,45624,Analytics,region_31,Bachelor's,m,other,1,30,3.0,7,0,84.0,1
59,24040,Technology,region_22,Master's & above,m,other,1,34,5.0,7,0,78.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46309,51059,Sales & Marketing,region_2,Bachelor's,m,other,1,29,5.0,4,0,58.0,1
46332,14502,Technology,region_7,Master's & above,m,other,1,54,4.0,7,0,81.0,1
46336,8278,Procurement,region_13,Bachelor's,f,sourcing,1,30,4.0,2,0,86.0,1
46366,994,Sales & Marketing,region_14,Bachelor's,m,other,1,59,3.0,11,0,65.0,1
46370,12592,Sales & Marketing,region_25,Master's & above,m,other,1,34,3.0,7,0,60.0,1

In [3]:
df2

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,50.0,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,73.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46375,6915,Sales & Marketing,region_14,Bachelor's,m,other,2,31,1.0,2,0,49.0,0
46376,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,78.0,0
46377,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,56.0,0
46378,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,0,79.0,0
46379,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,49.0,0

In [4]:
df3['recruitment_channel'].unique()

array(['sourcing', 'other', 'referred'], dtype=object)

In [5]:
df3.filter(items=['is_promoted'])

       is_promoted
10               1
33               1
51               1
57               1
59               1
...            ...
46309            1
46332            1
46336            1
46366            1
46370            1

[4071 rows x 1 columns]

In [6]:
X = df3.iloc[:,1:12]
y = df3['is_promoted']

In [7]:
X.head(1)

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score
10,Sales & Marketing,region_7,Bachelor's,f,sourcing,1,35,5.0,3,0,50.0

In [8]:
y

10       1
33       1
51       1
57       1
59       1
        ..
46309    1
46332    1
46336    1
46366    1
46370    1
Name: is_promoted, Length: 4071, dtype: int64

In [9]:
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [10]:
dm = DataFrameMapper([(['department',LabelEncoder()]),(["education", LabelEncoder()]), (["gender",LabelEncoder()])])

In [11]:
dm

DataFrameMapper(drop_cols=[],
                features=[['department', LabelEncoder()],
                          ['education', LabelEncoder()],
                          ['gender', LabelEncoder()]])

In [12]:
ml = []
ml.append(['mapper',dm])
ml.append(['SC',StandardScaler()])
ml.append(['RF',RandomForestClassifier()])

In [13]:
from sklearn.pipeline import Pipeline
import warnings
warnings.filterwarnings('ignore')

In [14]:
model = Pipeline(ml)
model.fit(X,y)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[['department', LabelEncoder()],
                                           ['education', LabelEncoder()],
                                           ['gender', LabelEncoder()]])),
                ('SC', StandardScaler()), ['RF', RandomForestClassifier()]])

In [15]:
dict(df3.iloc[10,1:])

{'department': 'Operations',
 'region': 'region_13',
 'education': "Bachelor's",
 'gender': 'm',
 'recruitment_channel': 'other',
 'no_of_trainings': 1,
 'age': 35,
 'previous_year_rating': 4.0,
 'length_of_service': 6,
 'awards_won': 0,
 'avg_training_score': 57.0,
 'is_promoted': 1}

In [16]:
new ={'department': 'Technology',
 'education': "Master's & above",
 'gender': 'm',
 'no_of_trainings': 1,
 'age': 34,
 'previous_year_rating': 5.0,
 'length_of_service': 7,
 'awards_won': 0,
 'avg_training_score': 78.0
  }

In [17]:
aa = pd.DataFrame(new,index=[0])
aa

,department,education,gender,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score
0,Technology,Master's & above,m,1,34,5.0,7,0,78.0

In [18]:
prediction = model.predict(aa)
print(prediction)
if (prediction [0] == 0):
    print("Is not promoted")
else:
    print("Is promoted")

[1]
Is promoted

In [19]:
import pickle
import pandas as pd

In [20]:
with open("final_model.sav", mode= 'wb') as f1:
    pickle.dump(model,f1)

In [21]:
#model.predict (aa)